## Install `simple_salesforce`  module

Remove the comment symbol (#) to run `!pip install simple_salesforce`. Once this module is installed, you can comment it out again.

In [1]:
#!pip install simple_salesforce

## Import dependencies

In [1]:
import json
from sqlalchemy import create_engine
from datetime import date
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()

## Import configuration variables

In [2]:
# import sys
# sys.path.append('../../../../')
from config import sf_username, sf_password, sf_security_token
from config import remote_db_endpoint, remote_db_port
from config import remote_db_name, remote_db_user, remote_db_pwd

## Set up `simple_salesforce`

Pass in the username, password, and security token here. The security token contains information about your org.

In [3]:
from simple_salesforce import Salesforce
sf = Salesforce(username=sf_username, password=sf_password, security_token=sf_security_token)

## Connect to your MySQL database

In [4]:
engine = create_engine(f"mysql://{remote_db_user}:{remote_db_pwd}@{remote_db_endpoint}:{remote_db_port}/{remote_db_name}")
conn = engine.connect()

## Query Data

In [5]:
staff_data = pd.read_sql("SELECT * FROM staff", conn)
staff_data.head(30)

   ID_Staff EmployeeID  LastName  FirstName MiddleName   BirthDate
0         1  000184220  Wimberly        Sam       Nico  1995-07-05
1         2  000130109   Sanford     Gemini      Blair  1992-04-22
2         3  000160655  Williams  Dartanion  De Angelo  1993-05-21
3         4  000159108   Popelka      Sarah      Nisan  1994-06-07

## Convert DataFrame to a list of dictionaries 

This can help facilitate a bulk insert

In [6]:
staff_records = staff_data.to_dict('records')
staff_records

[{'ID_Staff': 1,
  'EmployeeID': '000184220',
  'LastName': 'Wimberly',
  'FirstName': 'Sam',
  'MiddleName': 'Nico',
  'BirthDate': datetime.date(1995, 7, 5)},
 {'ID_Staff': 2,
  'EmployeeID': '000130109',
  'LastName': 'Sanford',
  'FirstName': 'Gemini',
  'MiddleName': 'Blair',
  'BirthDate': datetime.date(1992, 4, 22)},
 {'ID_Staff': 3,
  'EmployeeID': '000160655',
  'LastName': 'Williams',
  'FirstName': 'Dartanion',
  'MiddleName': 'De Angelo',
  'BirthDate': datetime.date(1993, 5, 21)},
 {'ID_Staff': 4,
  'EmployeeID': '000159108',
  'LastName': 'Popelka',
  'FirstName': 'Sarah',
  'MiddleName': 'Nisan',
  'BirthDate': datetime.date(1994, 6, 7)}]

## Inserting rows individually

Loop through the DataFrame and assemble indiviudal dictionaries

In [9]:
for rec in staff_records:

    record = {
        'ID_Staff__c': rec['ID_Staff'],
        'EmployeeID__c': rec['EmployeeID'],
        'LastName__c': rec['LastName'],
        'FirstName__c': rec['FirstName'],
        'MiddleName__c': rec['MiddleName'],
        'BirthDate__c': rec['BirthDate'].isoformat(),
    }
    
    
    try:
        sf.Staff__c.create(record)
    except Exception as e:
        print(e)