## Install `simple_salesforce`  module

Remove the comment symbol (#) to run `!pip install simple_salesforce`. Once this module is installed, you can comment it out again.

In [50]:
#!pip install simple_salesforce

## Import dependencies

In [51]:
import json
from sqlalchemy import create_engine
from datetime import date
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()

## Import configuration variables

In [52]:
# import sys
# sys.path.append('../../../../')
from config import sf_username, sf_password, sf_security_token
from config import remote_db_endpoint, remote_db_port
from config import remote_db_name, remote_db_user, remote_db_pwd

## Set up `simple_salesforce`

Pass in the username, password, and security token here. The security token contains information about your org.

In [53]:
from simple_salesforce import Salesforce
sf = Salesforce(username=sf_username, password=sf_password, security_token=sf_security_token)

## Connect to your MySQL database

In [54]:
engine = create_engine(f"mysql://{remote_db_user}:{remote_db_pwd}@{remote_db_endpoint}:{remote_db_port}/{remote_db_name}")
conn = engine.connect()

## Query Data

In [55]:
class_data = pd.read_sql("SELECT * FROM class", conn)
class_data.head(30)

   ID_Class  ID_Course               Section   StartDate     EndDate
0         1          1  GWU-ARL-DATA-PT-09-0  2020-03-16  2020-03-14
1         2          1       GWDC201805DATA3  2018-05-15  2018-11-08
2         3          2       GWARL201905WEB3  2019-05-14  2019-11-07
3         4          3      GWARL201905UIUX3  2019-05-14  2019-11-07

## CREATE Course LookUp table

In [56]:
query=sf.query_all_iter("SELECT CourseCode__c, Name FROM Course__c")

In [57]:
query

In [58]:
course_lookup_list = []

for rec in query:
    
    sf_record = {
        'Course_lookup_ID':rec['Name'],
        'CourseCode__c': rec['CourseCode__c']
              
    }
    course_lookup_list.append(sf_record)

In [59]:
course_lookup_list

[{'Course_lookup_ID': 'a093h000001SO2Y', 'CourseCode__c': 'CIS-438'},
 {'Course_lookup_ID': 'a093h000001SO2i', 'CourseCode__c': 'CIS-435'},
 {'Course_lookup_ID': 'a093h000001SO2T', 'CourseCode__c': 'CIS-405'},
 {'Course_lookup_ID': 'a093h000001SO29', 'CourseCode__c': 'BC-DATAVIZ'},
 {'Course_lookup_ID': 'a093h000001SO2J', 'CourseCode__c': 'BC-UIUX'},
 {'Course_lookup_ID': 'a093h000001SO2O', 'CourseCode__c': 'CIS-349'},
 {'Course_lookup_ID': 'a093h000001SO2E', 'CourseCode__c': 'BC-WEBDEV'},
 {'Course_lookup_ID': 'a093h000001SO2d', 'CourseCode__c': 'CIS-430'}]

In [60]:
course_lookup_df = pd.DataFrame(course_lookup_list)

course_lookup_df.head(20)

  Course_lookup_ID CourseCode__c
0  a093h000001SO2Y       CIS-438
1  a093h000001SO2i       CIS-435
2  a093h000001SO2T       CIS-405
3  a093h000001SO29    BC-DATAVIZ
4  a093h000001SO2J       BC-UIUX
5  a093h000001SO2O       CIS-349
6  a093h000001SO2E     BC-WEBDEV
7  a093h000001SO2d       CIS-430

In [61]:
query='''
    SELECT 
        c.*
        ,co.CourseCode
    FROM
        class c
        INNER JOIN course co
        ON c.ID_Course=co.ID_Course
'''

class_data_df=pd.read_sql(query, conn)
class_data_df.head()

,ID_Class,ID_Course,Section,StartDate,EndDate,CourseCode
0,1,1,GWU-ARL-DATA-PT-09-0,2020-03-16,2020-03-14,BC-DATAVIZ
1,2,1,GWDC201805DATA3,2018-05-15,2018-11-08,BC-DATAVIZ
2,3,2,GWARL201905WEB3,2019-05-14,2019-11-07,BC-WEBDEV
3,4,3,GWARL201905UIUX3,2019-05-14,2019-11-07,BC-UIUX

In [62]:
class_data_df.rename(columns={
    'Section':'Section__c',
    'StartDate':'StartDate__c',
    'EndDate':'EndDate__c',
    'CourseCode':'CourseCode__c'
}, inplace=True)

class_data_df

,ID_Class,ID_Course,Section__c,StartDate__c,EndDate__c,CourseCode__c
0,1,1,GWU-ARL-DATA-PT-09-0,2020-03-16,2020-03-14,BC-DATAVIZ
1,2,1,GWDC201805DATA3,2018-05-15,2018-11-08,BC-DATAVIZ
2,3,2,GWARL201905WEB3,2019-05-14,2019-11-07,BC-WEBDEV
3,4,3,GWARL201905UIUX3,2019-05-14,2019-11-07,BC-UIUX

In [44]:
class_data_df = pd.merge(class_data_df, course_lookup_df, how='left')
class_data_df.drop(columns = ['CourseCode__c'], inplace=True)

class_data_df.head()

,ID_Class,ID_Course,Section__c,StartDate__c,EndDate__c,Course_lookup_ID
0,1,1,GWU-ARL-DATA-PT-09-0,2020-03-16,2020-03-14,a093h000001SO29
1,2,1,GWDC201805DATA3,2018-05-15,2018-11-08,a093h000001SO29
2,3,2,GWARL201905WEB3,2019-05-14,2019-11-07,a093h000001SO2E
3,4,3,GWARL201905UIUX3,2019-05-14,2019-11-07,a093h000001SO2J

In [45]:
class_data_df

class_data_df['StartDate__c'] = pd.to_datetime(class_data_df['StartDate__c']).dt.date
class_data_df['EndDate__c'] = pd.to_datetime(class_data_df['EndDate__c']).dt.date

class_data_df.head()

,ID_Class,ID_Course,Section__c,StartDate__c,EndDate__c,Course_lookup_ID
0,1,1,GWU-ARL-DATA-PT-09-0,2020-03-16,2020-03-14,a093h000001SO29
1,2,1,GWDC201805DATA3,2018-05-15,2018-11-08,a093h000001SO29
2,3,2,GWARL201905WEB3,2019-05-14,2019-11-07,a093h000001SO2E
3,4,3,GWARL201905UIUX3,2019-05-14,2019-11-07,a093h000001SO2J

In [46]:
class_data_records = class_data_df.to_dict(orient='records')
class_data_records

[{'ID_Class': 1,
  'ID_Course': 1,
  'Section__c': 'GWU-ARL-DATA-PT-09-0',
  'StartDate__c': datetime.date(2020, 3, 16),
  'EndDate__c': datetime.date(2020, 3, 14),
  'Course_lookup_ID': 'a093h000001SO29'},
 {'ID_Class': 2,
  'ID_Course': 1,
  'Section__c': 'GWDC201805DATA3',
  'StartDate__c': datetime.date(2018, 5, 15),
  'EndDate__c': datetime.date(2018, 11, 8),
  'Course_lookup_ID': 'a093h000001SO29'},
 {'ID_Class': 3,
  'ID_Course': 2,
  'Section__c': 'GWARL201905WEB3',
  'StartDate__c': datetime.date(2019, 5, 14),
  'EndDate__c': datetime.date(2019, 11, 7),
  'Course_lookup_ID': 'a093h000001SO2E'},
 {'ID_Class': 4,
  'ID_Course': 3,
  'Section__c': 'GWARL201905UIUX3',
  'StartDate__c': datetime.date(2019, 5, 14),
  'EndDate__c': datetime.date(2019, 11, 7),
  'Course_lookup_ID': 'a093h000001SO2J'}]

In [49]:
for rec in class_data_records:
 
    record = {
        'ID_Class__c':rec['ID_Class'],
        'ID_Course__c':rec['ID_Course'],
        'Section__c': rec['Section__c'],
        'StartDate__c': str(rec['StartDate__c']),
        'EndDate__c': str(rec['EndDate__c']),
        'Course__c':rec['Course_lookup_ID'],
    }
    
    try:
        sf.Class__C.create(record)
    except Exception as e:
        print(e)